
body {
    color: white;
    background-color: aqua;
    background-image : url(image.jpg); /* Location to the image*/
    background-repeat: no-repeat; /* Background is not repeated */
    background-size: cover; /* Image covers the whole page */
    background-position: center; /* Image is centered*/
}

h1 {
    font-family: Courier, 'Rubik';
}

#google {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}

.home-footer {
    color: white;
    font-weight: bold;
}

div {
    border: 3px solid blanchedalmond; /* size, pattern, color */
    margin: 10px 0px;
}

img {
    margin: 20px; /* Follow the clockwise direction */
    padding: 20px 40px; /* This follows the two: top&bottom, and, left&right */
    border: 1px solid blanchedalmond;
    border-radius: 30px;
}